body {
  background-color: #eaeaea;
}

.ui.fixed.menu {
  background-color: rgb(7, 82, 109);
}

.ui.main.container {
  margin-top: 7em;
}

.masthead {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: rgb(8, 122, 163);
}

.masthead h1.ui.header {
  font-size: 4em;
}

.masthead.ui.segment {
  background-color: rgb(8, 122, 163);
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-calendar{
  width: 100%;
  border: none;
  padding: 20px;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
}
/* 
img.cropper-hode{
  height: 200;
  width: 200;
} */